:root{
    --color-white: #fff;


    /* Tons de preto */
    --color-black-first: #000;
    --color-black-second: #4F4C4C;
    --color-black-third: #666666;

    /* blackgrounds */
    --color-bg: #fff;
    --color-bg-header: #00161C;
    --color-bg-hero: #00161C;
    --color-bg-destaque: #DFE3F5;
    --color-bg-planos: #F7F4F4;
    --color-bg-footer: #333333;

    /* cores dos planos/borda */
    --color-plano-start: #56CCF2;
    --color-plano-ultra: #B04CD9;
    --color-plano-mega: #E33B3B;

    /* link-destaque */
    --color-link-destaque: #B72E2E;
    --color-link-contato: #0084FF;
    
    /* cores das bordas*/
    --color-border-header: #103D4A;
    --color-border-card-planos:  #DFE3E5;
}