/* Base */
@import url(base/reset.css);
@import url(base/global.css);
@import url(base/variables.css);

/* Layout */
@import url(layout/container.css);
@import url(layout/header.css);
@import url(layout/hero.css);
@import url(layout/destaque.css);
@import url(layout/diferencial.css);
@import url(layout/about.css);
@import url(layout/planos.css);

/* Utilities */
@import url(utilities/flex.css);