.about{
    background-color: var(--color-bg-about);
    padding-top: var(--space-xl);
    font-family: var(--font-secondary);
}

.about__wrap{
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-2xl);
}

.about__title{
    font-family: var(--font-primary);
    font-size: var(--font-xl);
    font-weight: bold;
    color: var(--color-black-first);
    text-transform: uppercase;
    padding-top: var(--space-sm);
    text-align: center;
    margin-bottom: var(--space-xl);
}

.about__text{
    font-size: var(--space-md);
    color: var(--color-black-first);
    margin-bottom: var(--space-md);
}

.about__img--wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--space-md);
}