.about{
    background-color: var(--color-bg-about);
    padding-top: var(--space-xl);
    font-family: var(--font-secondary);
}

.about__wrap{
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-xl);
    gap: var(--space-lg);
}

.about__text{
    font-size: var(--space-md);
    color: var(--color-black-first);
}

.about__img--wrap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--space-md);
}