.destaque{
    background-color: var(--color-bg-destaque);
    padding: var(--space-xl) 0;
}

.destaque__wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-xl);
}

.destaque__card-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--space-xl);
}

.destaque__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-md); 
}

.destaque__img{
    width: 100vw;
    max-width: 60rem;
    box-shadow: 0 0.2rem 1.0rem 0.5rem #00000020;
}

.destaque__description{
    color: var(--color-black-first);
    font-size: var(--font-lg);
    padding: 0 var(--space-md);
}

.destaque__cta{
    color: var(--color-link-destaque);
    font-size: var(--font-md);
    padding: var(--space-md) var(--space-2xl);
    border: var(--border-md) solid var(--color-primary);
    border-radius: var(--radius-md);
}

.destaque__cta:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
}