.hero{
    background-color: var(--color-bg-hero);
    padding-top: var(--space-xl);
    padding-bottom: var(--space-2xl);
}

.hero__wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);
    text-align: center;
    color: var(--color-white);
}

.hero__title{
    font-size: var(--font-3xl);
    font-weight: bold;
    text-transform: uppercase;
}

.hero__text{
    font-size: var(--font-xl);
    line-height: var(--space-xl);
}

.hero__cta{
    font-size: var(--font-sm);
    border: var(--border-md) solid var(--color-white);
    padding: var(--space-md) var(--space-6xl);
    border-radius: var(--radius-md);
}

.hero__cta:hover{
    background-color: var(--color-primary);
}