.planos{
    background-color: var(--color-bg-planos);
    margin-top: var(--space-xl);
    padding-bottom: var(--space-4xl);
    font-family: var(--font-secondary);
}

.planos__title{
    font-family: var(--font-primary);
    font-size: var(--font-xl);
    font-weight: bold;
    color: var(--color-white);
    text-transform: uppercase;
    padding-top: var(--space-2xl);
    text-align: center;
    margin-bottom: var(--space-xl);
}

.planos-card__wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
    padding: 0 var(--space-xl);
}

.planos-card{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-md);
    border: var(--border-md) solid var(--color-plano-border);
    border-radius: var(--radius-md);
    box-shadow: 0 0.2rem 1.0rem 0.5rem #00000020;
    min-width: 30rem;
    min-height: 30rem;
}

.planos-card__title{
    font-size: var(--font-xl);
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
    border-bottom: var(--border-md) solid var(--color-plano-border);
}

.planos-card__price{
    text-align: center;
    font-size: var(--font-4xl);
    font-weight: bold;
    color: var(--color-black-first);
    padding: var(--space-sm) var(--space-2xl);
}

.planos-card__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding: 0 var(--space-xl);
    color: #666666;
    font-size: var(--space-md);
    list-style: square;

}

.planos__btn{
    background-color: transparent;
    border: var(--border-md) solid var(--color-black-first);
    border-radius: var(--radius-md);
    padding: var(--space-md) 0;
    margin: 0 var(--space-md) var(--space-md);
    text-align: center;
    font-size: var(--font-lg);
    font-weight: bold;
    color: var(--color-black-first);
}

.--color-start, .--style-list-start::marker{
    color: var(--color-plano-start);
}

.--btn-start{
    color: var(--color-plano-start);
    border-color: var(--color-plano-start);
}

.--color-ultra, .--style-list-ultra::marker{
    color: var(--color-plano-ultra);
}

.--btn-ultra{
    color: var(--color-plano-ultra);
    border-color: var(--color-plano-ultra);
}

.--color-mega, .--style-list-mega::marker{
    color: var(--color-plano-mega);
}

.--btn-mega{
    color: var(--color-plano-mega);
    border-color: var(--color-plano-mega);
}

.--card-start{
    box-shadow: 0 -0.1rem 1.0rem 0.8rem #56CCF270;
}

.--card-ultra{
    box-shadow: 0 -0.1rem 1.0rem 0.8rem #B04CD990;
}

.--card-mega{
    box-shadow: 0 -0.1rem 1.0rem 0.8rem #E33B3B70;
}


